.why
	padding-top: 50px
	padding-bottom: 60px
	&__title
		margin-bottom: 17px
	&__subtitle
		margin-bottom: 55px
		font-size: 20px
		line-height: 32px
		color: $primary
		text-align: center
	&__wrapper
		display: flex
		justify-content: space-between
	&-benefits
		&__item
			display: flex
			&:not(:last-child)
				margin-bottom: 30px
		&__icon
			width: 48px
			height: 48px
			margin-right: 16px
		&__title
			margin-bottom: 10px
			font-size: 18px
			line-height: 24px
			color: $primary
		&__descr
			max-width: 394px
			line-height: 24px
	&-slider
		padding: 56px 25px 60px 60px
		background-color: #f6f8f9
		&__quote
			margin-bottom: 28px
			max-width: 435px
			font-size: 30px
			line-height: 48px
			color: $primary
		&__item
			display: flex
		&__img
			margin-right: 8px
			border-radius: 50%
		&__title
			margin-bottom: 1px
			color: $primary
		&__descr
			line-height: 19px
