@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter';
  color: #72787D;
  font-size: 16px;
}

.section-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #212B31;
  text-align: center;
}

.button {
  padding: 13px 25px;
  border: 1px solid #212B31;
  background-color: #212B31;
  border-radius: 4px;
  color: #fff;
}

.button:hover {
  border: 1px solid #DADEDF;
  background-color: transparent;
  color: #212B31;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button_o {
  border: 1px solid #DADEDF;
  background-color: transparent;
  color: #212B31;
}

.button_o:hover {
  border: 1px solid #212B31;
  background-color: #212B31;
  color: #fff;
}

.button_one {
  border: 1px solid #fff;
}

.button_one:hover {
  border: 1px solid #212B31;
}

.subtitle {
  font-size: 18px;
  color: #212B31;
}

.container {
  margin: 0 auto;
  max-width: 1056px;
}

.header {
  max-width: 1440px;
  width: 96%;
  margin: 0 auto;
}

image {
  max-width: 100%;
}

.menu-button_active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 50px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  margin-right: 22px;
}

.navbar__item a {
  color: #72787D;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar__item a:hover {
  color: #036fc7;
}

.navbar__button {
  padding: 9px 20px;
}

.hero {
  padding-top: 50px;
  padding-bottom: 70px;
}

.hero__title {
  font-size: 48px;
  line-height: 64px;
  max-width: 818px;
  margin: auto;
  margin-bottom: 30px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 88px;
}

.hero__button:first-child {
  margin-right: 16px;
}

.hero__image:first-child {
  margin-bottom: 36px;
}

.hero__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits {
  padding-bottom: 70px;
  padding-top: 70px;
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__icon {
  margin-bottom: 20px;
  width: 48px;
  height: 48px;
}

.benefits__title {
  margin-bottom: 10px;
}

.benefits__descr {
  text-align: center;
  max-width: 325px;
  line-height: 24px;
}

.chaos {
  padding-top: 70px;
  padding-bottom: 70px;
}

.chaos__title {
  margin-bottom: 16px;
}

.chaos__descr {
  margin: auto auto 40px auto;
  text-align: center;
  max-width: 1015px;
  line-height: 32px;
}

.help {
  padding-top: 70px;
  padding-bottom: 70px;
}

.help__title {
  margin: auto;
  text-align: center;
  max-width: 781px;
  margin-bottom: 100px;
  line-height: 48px;
}

.help-text__title {
  margin-bottom: 16px;
  text-align: left;
  max-width: 489px;
  line-height: 48px;
}

.help-text__descr {
  margin-bottom: 28px;
  max-width: 542px;
  font-size: 20px;
  line-height: 32px;
}

.help-text__slogan {
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #FFD042), color-stop(50%, rgba(151, 151, 149, 0)));
  background: linear-gradient(to top, #FFD042 50%, rgba(151, 151, 149, 0) 50%);
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.help__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies__wrapp {
  padding: 56px 0;
  border-top: 1px solid #EEF2F3;
  border-bottom: 1px solid #EEF2F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies__item:last-child {
  margin: auto;
}

.definition {
  padding-top: 65px;
  padding-bottom: 70px;
}

.definition__title {
  margin-bottom: 21px;
}

.definition__descr {
  text-align: center;
  margin: auto;
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 32px;
  max-width: 827px;
}

.definition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.definition-text_second {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.definition-text__title {
  font-size: 18px;
  color: #212B31;
  margin-bottom: 19px;
}

.definition-text__descr {
  line-height: 24px;
  max-width: 500px;
}

.shipping {
  padding: 70px 0;
}

.shipping__title {
  margin-bottom: 21px;
}

.shipping__descr {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 643px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.shipping__descr_end {
  margin-bottom: 0;
  max-width: 808px;
}

.shipping__descr_end span {
  color: #212B31;
  display: inline;
  -webkit-box-shadow: inset 0 -0.5em #FFD042, 0 0.1em 0px #FFD042;
          box-shadow: inset 0 -0.5em #FFD042, 0 0.1em 0px #FFD042;
}

.shipping__wrapper {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shipping__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shipping__item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.shipping__icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.shipping-text {
  max-width: 270px;
}

.shipping-text__title {
  font-size: 18px;
  color: #212B31;
  margin-bottom: 10px;
}

.reliability {
  padding-top: 70px;
  padding-bottom: 140px;
}

.reliability__title {
  max-width: 197px;
  margin: auto;
  margin-bottom: 17px;
  position: relative;
}

.reliability__title::after {
  content: '';
  width: 42px;
  height: 42px;
  display: block;
  background: #fff url("/src/img/reliability/vector.svg") no-repeat;
  position: absolute;
  right: -33px;
  top: -28px;
  z-index: -1;
}

.reliability__descr {
  margin: auto;
  margin-bottom: 50px;
  max-width: 857px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.reliability__wrapper {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reliability__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliability__icon {
  margin-bottom: 19px;
  width: 48px;
  height: 48px;
}

.reliability-text__title {
  margin-bottom: 11px;
  font-size: 18px;
  color: #212B31;
  text-align: center;
}

.reliability-text__descr {
  max-width: 333px;
  line-height: 24px;
  text-align: center;
}

.reliability-detail {
  background-color: #F6F8F9;
  border-radius: 5px;
  padding: 49px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliability-detail__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliability-detail__image {
  margin-right: 24px;
}

.reliability-detail__descr {
  font-size: 18px;
  color: #212B31;
}

.made {
  padding-top: 140px;
  padding-bottom: 120px;
  background-color: #212B31;
}

.made__title {
  margin-bottom: 50px;
  text-align: left;
  color: #fff;
}

.made-list {
  margin-bottom: 50px;
  padding-left: 20px;
}

.made-list__item {
  padding-left: 20px;
  list-style: disc;
  list-style-image: url("/src/img/made/circle.svg");
}

.made-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.made-list__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.made-list__descr {
  max-width: 855px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.made__buttons {
  margin-bottom: 127px;
}

.made__button:first-child {
  margin-right: 16px;
  background-color: #fff;
}

.made__button:first-child:hover {
  background-color: transparent;
  border: 1px solid #fff;
}

.made__button:last-child:hover {
  border: 1px solid #fff;
  background-color: #fff;
}

.made__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.made-item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
}

.made-item__icon {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  width: 48px;
  height: 48px;
}

.made-item__title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.made-item__descr {
  max-width: 340px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.how {
  padding-top: 140px;
  padding-bottom: 50px;
}

.how__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-preview__title {
  margin-bottom: 20px;
  text-align: left;
}

.how-preview__descr {
  margin-bottom: 60px;
  max-width: 400px;
  font-size: 20px;
  line-height: 32px;
}

.how-list {
  margin-bottom: 30px;
  counter-reset: counter 0;
}

.how-list__item {
  position: relative;
  margin-bottom: 30px;
  list-style: none;
}

.how-list__item:before {
  position: absolute;
  left: -72px;
  top: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #DADEDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: counter;
  content: counter(counter);
}

.how-list__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

.how-list__descr {
  line-height: 24px;
  max-width: 448px;
}

.how-list__button:first-child {
  margin-right: 16px;
}

.why {
  padding-top: 50px;
  padding-bottom: 140px;
}

.why__title {
  margin-bottom: 17px;
}

.why__subtitle {
  margin-bottom: 55px;
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
  text-align: center;
}

.why__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.why-benefits__icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.why-benefits__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

.why-benefits__descr {
  max-width: 394px;
  line-height: 24px;
}

.why-slider {
  padding: 56px 0px 60px 43px;
  max-width: 520px;
  height: 520px;
  background-color: #f6f8f9;
  border-radius: 5px;
}

.why-slider__quote {
  position: relative;
  margin-bottom: 28px;
  max-width: 435px;
  font-size: 30px;
  line-height: 48px;
  color: #212B31;
}

.why-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-slider__img {
  margin-right: 8px;
  border-radius: 50%;
}

.why-slider__title {
  margin-bottom: 1px;
  color: #212B31;
}

.why-slider__descr {
  line-height: 19px;
}

.swiper-pagination-bullet-active {
  background-color: #036FC7;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets, .swiper-pagination-bullet {
  bottom: 60px;
  left: -200px;
}

.ready {
  padding-bottom: 70px;
}

.ready__background {
  background: #FFD042 url("/src/img/ready/rectangle.jpg") no-repeat;
  padding: 117px 38px;
  border-radius: 6px;
}

.ready__title {
  margin-bottom: 54px;
  font-size: 48px;
  line-height: 64px;
}

.ready__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ready__button:first-child {
  margin-right: 16px;
}

.ready__button:first-child:hover {
  background-color: #fff;
}

.ready__button:last-child {
  background-color: #fff;
}

.ready__button:last-child:hover {
  background-color: #212B31;
}

.footer {
  padding-top: 70px;
}

.footer__logo {
  margin-bottom: 22px;
}

.footer a {
  color: #72787D;
}

.footer a:hover {
  color: #036fc7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links__logo {
  margin-bottom: 22px;
}

.footer-links__address {
  line-height: 24px;
}

.footer-links__hrefs {
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-links__href:first-child {
  display: block;
  margin-bottom: 5px;
}

.footer-links__title {
  margin-bottom: 22px;
  line-height: 24px;
  color: #212B31;
}

.footer-links__link:first-child {
  display: block;
  margin-bottom: 8px;
}

.footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #DADEDF;
  padding: 33px 0;
}

@media (max-width: 1200px) {
  .header {
    max-width: 1140px;
    padding-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .hero__title {
    font-size: 46px;
  }
  .benefits {
    padding: 50px 0;
  }
  .chaos {
    padding: 50px 0;
  }
  .chaos__descr {
    line-height: 28px;
  }
  .help {
    padding: 50px 0;
  }
  .definition {
    padding-bottom: 50px;
  }
  .shipping {
    padding: 50px 0;
  }
  .reliability {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .made {
    padding: 100px 0;
  }
  .how {
    padding-top: 100px;
  }
  .why {
    padding-bottom: 100px;
  }
  .ready {
    padding-bottom: 50px;
  }
  .footer {
    padding-top: 50px;
  }
  .container {
    width: 96%;
  }
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 42px;
  }
  .help-text__title {
    font-size: 30px;
    line-height: 44px;
  }
  .companies__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .ready__title {
    font-size: 42px;
  }
  .why__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-benefits {
    margin-bottom: 50px;
  }
  .why-benefits__descr {
    max-width: 100%;
  }
  .why-slider {
    max-width: 100%;
    height: 380px;
  }
  .why-slider__quote {
    margin-bottom: 50px;
    max-width: 853px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets, .swiper-pagination-bullet {
    bottom: 46px;
    left: -408px;
  }
  .why-slider__quote {
    line-height: 44px;
  }
  .ready__title {
    font-size: 39px;
  }
  .reliability-detail__descr {
    line-height: 1.2;
  }
}

@media (max-width: 920px) {
  .header {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 0;
    width: 100%;
    background-color: #f6f8f9;
  }
  .menu-button {
    position: absolute;
    display: block;
    top: 40px;
    right: 35px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #212B31;
  }
  .menu-button::before {
    content: '';
    margin-top: -7px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #212B31;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .menu-button::after {
    content: '';
    margin-top: 12px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #212B31;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .menu-button_active {
    height: 0;
  }
  .menu-button_active::before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-button_active::after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hero {
    padding-top: 90px;
  }
  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__item {
    margin-right: 0;
  }
  .navbar__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .ready__title {
    font-size: 36px;
  }
  .why-slider__quote {
    font-size: 28px;
  }
  .how__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .how-preview__descr {
    max-width: 100%;
  }
  .how-preview__image {
    max-width: 460px;
    width: 100%;
  }
  .how-list {
    margin-left: 80px;
  }
  .how-list__descr {
    max-width: 100%;
  }
}

.header_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 720px) {
  .hero__title {
    font-size: 37px;
  }
  .benefits {
    padding: 30px 0;
  }
  .benefits__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__descr {
    max-width: 100%;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .chaos {
    padding: 30px 0;
  }
  .chaos__descr {
    max-width: 520px;
  }
  .help {
    padding-top: 30px;
  }
  .help__title {
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 60px;
  }
  .help__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .help__image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: auto;
    max-width: 464px;
    width: 100%;
    margin-bottom: 30px;
  }
  .help-text__title {
    max-width: 100%;
  }
  .definition__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .definition__image {
    margin-bottom: 30px;
  }
  .definition__image_first, .definition__image_third {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .definition-text__descr {
    max-width: 100%;
  }
  .definition {
    padding-bottom: 15px;
  }
  .shipping {
    padding: 30px 0;
  }
  .shipping__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shipping__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shipping__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .shipping-text {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .shipping-text__descr {
    max-width: 590px;
    line-height: 1.5;
  }
  .shipping__icon {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .reliability__descr {
    font-size: 18px;
    line-height: 30px;
  }
  .reliability__item {
    margin-bottom: 30px;
  }
  .reliability__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reliability-text__descr {
    line-height: 28px;
    max-width: 636px;
  }
  .why-slider__pagination {
    display: none;
  }
  .why {
    padding-bottom: 60px;
  }
  .made__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .made-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .made-item__descr {
    max-width: 100%;
  }
  .reliability-item:last-child {
    margin-bottom: 0;
  }
  .hero__title {
    line-height: 48px;
  }
  .why-slider__quote {
    font-size: 26px;
    line-height: 40px;
  }
  .ready__title {
    line-height: 50px;
  }
}

@media (max-width: 650px) {
  .hero__title {
    font-size: 34px;
  }
  .footer-links__logo {
    display: none;
  }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-links__link:not(:last-child) {
    margin-right: 10px;
  }
  .section-title {
    font-size: 30px;
  }
  .why-slider__quote {
    font-size: 24px;
    line-height: 36px;
  }
  .footer-policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-policy__span:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 540px) {
  .companies {
    display: none;
  }
  .definition {
    padding-top: 0;
  }
  .section-title {
    font-size: 28px;
    line-height: 37px;
  }
  .reliability-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reliability-detail__text {
    margin-bottom: 10px;
  }
  .why-slider__quote {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 425px) {
  .section-title {
    font-size: 26px;
  }
  .shipping {
    padding: 0;
  }
  .shipping__descr_start {
    font-size: 17px;
  }
  .why-slider {
    padding: 40px 0;
    padding-left: 10px;
  }
  *, *:before, *:after {
    text-align: left;
  }
  .benefits__descr {
    text-align: left;
  }
  .chaos__descr {
    text-align: left;
  }
  .definition__descr {
    text-align: left;
  }
  .shipping__descr_start {
    text-align: left;
  }
  .shipping__descr_end {
    text-align: left;
  }
  .reliability__descr {
    text-align: left;
  }
  .reliability-text__descr {
    text-align: left;
  }
  .ready__title {
    text-align: left;
  }
  .why-slider__quote {
    font-size: 21px;
  }
  .ready__button {
    padding: 13px;
  }
}

@media (max-width: 375px) {
  .hero__title {
    text-align: left;
  }
  .how-list__button:last-child {
    display: none;
  }
  .why {
    padding-top: 0;
  }
  .swiper-button-next:after {
    position: absolute;
    font-size: 30px;
    right: -6px;
    top: 32px;
  }
  .ready__button {
    padding: 13px 10px;
    font-size: 14px;
  }
  .shipping__descr_start {
    line-height: 22px;
  }
  .definition-text__title {
    line-height: 1.4;
  }
}

@media (max-width: 320px) {
  .hero__button {
    padding: 13px 20px;
  }
  .section-title {
    text-align: left;
    font-size: 24px;
  }
  .made__button:first-child {
    margin-bottom: 10px;
  }
  .made-item__title {
    line-height: 1.4;
  }
  .why__subtitle {
    text-align: left;
  }
  .ready__background {
    padding: 80px 38px;
  }
  .ready__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ready__button {
    font-size: 16px;
  }
  .ready__button:first-child {
    margin: 0;
    margin-bottom: 10px;
  }
  .ready__title {
    margin-bottom: 35px;
  }
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  z-index: 1000;
}

.modal__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  color: #000;
}

.modal__text {
  font-size: 16px;
  color: #000;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  background-color: #ffffff;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  z-index: 999;
}

.modal-bg_active {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */