@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter';
  color: #72787D;
  font-size: 16px;
}

.section-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #212B31;
  text-align: center;
}

.button {
  padding: 13px 25px;
  border: 1px solid #212B31;
  background-color: #212B31;
  border-radius: 4px;
  color: #fff;
}

.button:hover {
  border: 1px solid #DADEDF;
  background-color: transparent;
  color: #212B31;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button_o {
  border: 1px solid #DADEDF;
  background-color: transparent;
  color: #212B31;
}

.button_o:hover {
  border: 1px solid #212B31;
  background-color: #212B31;
  color: #fff;
}

.button_white {
  border: 1px solid #fff;
  color: #212B31;
}

.button_white:hover {
  border: 1px solid #212B31;
  background-color: #212B31;
  color: #fff;
}

.button_one {
  border: 1px solid #fff;
}

.button_one:hover {
  border: 1px solid #212B31;
}

.subtitle {
  font-size: 18px;
  color: #212B31;
}

.container {
  margin: 0 auto;
  max-width: 1056px;
}

.header {
  max-width: 1440px;
  width: 96%;
  margin: 0 auto;
}

image {
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 50px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  margin-right: 22px;
}

.navbar__item a {
  color: #72787D;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar__item a:hover {
  color: #036fc7;
}

.navbar__button {
  padding: 9px 20px;
}

.hero {
  padding-top: 50px;
  padding-bottom: 70px;
}

.hero__title {
  font-size: 48px;
  line-height: 64px;
  max-width: 818px;
  margin: auto;
  margin-bottom: 30px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 88px;
}

.hero__button:first-child {
  margin-right: 16px;
}

.hero__image:first-child {
  margin-bottom: 36px;
}

.hero__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits {
  padding-bottom: 70px;
  padding-top: 70px;
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__icon {
  margin-bottom: 20px;
  width: 48px;
  height: 48px;
}

.benefits__title {
  margin-bottom: 10px;
}

.benefits__descr {
  text-align: center;
  max-width: 325px;
}

.chaos {
  padding-top: 70px;
  padding-bottom: 70px;
}

.chaos__title {
  margin-bottom: 16px;
}

.chaos__descr {
  margin: auto auto 40px auto;
  text-align: center;
  max-width: 1015px;
  line-height: 32px;
}

.help {
  padding-top: 70px;
  padding-bottom: 70px;
}

.help__title {
  margin: auto;
  text-align: center;
  max-width: 781px;
  margin-bottom: 100px;
  line-height: 48px;
}

.help-text__title {
  margin-bottom: 16px;
  text-align: left;
  max-width: 489px;
  line-height: 48px;
}

.help-text__descr {
  margin-bottom: 28px;
  max-width: 542px;
  font-size: 20px;
  line-height: 32px;
}

.help-text__slogan {
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #FFD042), color-stop(50%, rgba(151, 151, 149, 0)));
  background: linear-gradient(to top, #FFD042 50%, rgba(151, 151, 149, 0) 50%);
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.help__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies {
  padding-bottom: 65px;
}

.companies__wrapp {
  padding: 56px 0;
  border-top: 1px solid #EEF2F3;
  border-bottom: 1px solid #EEF2F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies__image:last-child {
  margin: auto;
}

.definition {
  padding-top: 65px;
  padding-bottom: 70px;
}

.definition__title {
  margin-bottom: 21px;
}

.definition__descr {
  text-align: center;
  margin: auto;
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 32px;
  max-width: 827px;
}

.definition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.definition-text_second {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.definition-text__title {
  font-size: 18px;
  color: #212B31;
  margin-bottom: 19px;
}

.definition-text__descr {
  line-height: 24px;
  max-width: 500px;
}

.shipping {
  padding: 70px 0;
}

.shipping__title {
  margin-bottom: 21px;
}

.shipping__descr {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 643px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.shipping__descr_end {
  margin-bottom: 0;
  max-width: 808px;
}

.shipping__descr_end span {
  color: #212B31;
  display: inline;
  -webkit-box-shadow: inset 0 -0.5em #FFD042, 0 0.1em 0px #FFD042;
          box-shadow: inset 0 -0.5em #FFD042, 0 0.1em 0px #FFD042;
}

.shipping__wrapper {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shipping__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shipping__item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.shipping__icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.shipping-text {
  max-width: 270px;
}

.shipping-text__title {
  font-size: 18px;
  color: #212B31;
  margin-bottom: 10px;
}

.reliability {
  padding-top: 70px;
  padding-bottom: 140px;
}

.reliability__title {
  max-width: 197px;
  margin: auto;
  margin-bottom: 17px;
  position: relative;
}

.reliability__title::after {
  content: '';
  width: 42px;
  height: 42px;
  display: block;
  background: #fff url("/src/img/reliability/vector.svg") no-repeat;
  position: absolute;
  right: -33px;
  top: -28px;
  z-index: -1;
}

.reliability__descr {
  margin: auto;
  margin-bottom: 50px;
  max-width: 857px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.reliability__wrapper {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reliability__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliability__icon {
  margin-bottom: 19px;
  width: 48px;
  height: 48px;
}

.reliability-text__title {
  margin-bottom: 11px;
  font-size: 18px;
  color: #212B31;
  text-align: center;
}

.reliability-text__descr {
  max-width: 333px;
  line-height: 24px;
  text-align: center;
}

.reliability-detail {
  background-color: #F6F8F9;
  border-radius: 5px;
  padding: 49px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliability-detail__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliability-detail__image {
  margin-right: 24px;
}

.reliability-detail__descr {
  font-size: 18px;
  color: #212B31;
}

.made {
  padding-top: 140px;
  padding-bottom: 120px;
}
/*# sourceMappingURL=style.css.map */